@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.bg-black {
  background-color: rgba(0, 0, 0, 0.8); /* Darken the background */
}

header.glow {
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3); /* White glow at the bottom */
}